.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.basic-container {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10vh;
}

.flex-1 {
  flex: 1;
}

.bg-white {
  background-color: white;
}

.answers-box {
  width: 100%;
  max-width: 420px;
}

.quetsion-text {
  color: lightgray;
  font-size: 22px;
  text-align: center;
  max-width: 420px;
}

.circle-answer {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #449c40;
  transition: 0.5s;
  cursor: pointer;
}

.fill-circle {
  background-color: #449c40;
}

.half-opacity {
  opacity: 0.5;
}

.answer-hint {
  color: #282c34;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.submit-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 420px;
  align-self: flex-end;
}

.submit-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.5s;
  margin: 0 4px;
  border: none;
}

.submit-button:disabled {
  background-color: gray;
}

.green-button {
  background-color: #449c40;
  color: white;
}

.primary-button {
  background-color: #1b5fde;
  color: white;
}

.chart-background {
  background-color: lightgray;
  border-radius: 8px;
  padding: 12px;
  width: 95%;
  max-width: 420px;
}

.progress-container {
  position: absolute;
  top: 8px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar-custom {
  width: 90%;
  height: 12px;
  border-radius: 4px;
  border: 1px dotted white;
  display: flex;
  flex-direction: row;
}

.fill-progress {
  background-color: #449c40;
  height: 100%;
  transition: 0.5s;
  font-size: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.empty-progress {
  background-color: lightgray;
  height: 100%;
  flex: 1;
  transition: 0.5s;
}

.animation {
  transition: 0.5s;
}

.hide-question {
  opacity: 0;
}

/* consent ------------- */

.consents-decription {
  color: rgba(270, 270, 270, 0.6);
  margin-bottom: 8px;
}

.check-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-input {
  width: 100%;
  border-radius: 8px;
  border-color: lightgray;
  transition: 0.05s;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 8px;
}

.text-input :focus&:hover {
  border-color: gray;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .custom-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .custom-checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .custom-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .custom-checkmark:after {
  left: 4px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* selector */

.selector-custom {
  background-color: #282c34 !important;
  color: white !important;
  cursor: pointer !important;
  /* border: 1px solid white; */
}

.max-phone {
  max-width: 700px;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
